<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ophBox.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ophBox.Settings>
            <setting name="SavedAccountList" serializeAs="String">
                <value>{"accountList":[{"accountName":"libertyPT","user":"sam","secret":"f41d5e12-1fa4-420a-8a74-bafbdfff3592","port":"8080"}, {"accountName":"apotek","user":"sam","secret":"96eb06d2-9182-4903-b7bf-be19d1ac0ece","port":"8081"}]}</value>
            </setting>
            <setting name="remoteUrl" serializeAs="String">
                <value>http://redbean/</value>
            </setting>
            <setting name="isLocalDB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isIISExpress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>gov</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>ljcom2x</value>
            </setting>
            <setting name="dbInstanceName" serializeAs="String">
                <value>springroll</value>
            </setting>
            <setting name="IISExpressLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="OPHPath" serializeAs="String">
                <value />
            </setting>
            <setting name="delayTime" serializeAs="String">
                <value>0:5:0</value>
            </setting>
            <setting name="isStartMenu" serializeAs="String">
                <value>0</value>
            </setting>
        </ophBox.Settings>
    </userSettings>
</configuration>