<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ophBox.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ophBox.My.MySettings>
            <setting name="ophFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ophServer" serializeAs="String">
                <value>https://springroll.operahouse.systems</value>
            </setting>
            <setting name="treeData" serializeAs="String">
                <value>{"servers":[], "tag":"type=1"}</value>
            </setting>
            <setting name="localServer" serializeAs="String">
                <value />
            </setting>
            <setting name="localUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="IISPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="isIISExpress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IISExpressLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="isSQLAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLocalServer" serializeAs="String">
                <value>False</value>
            </setting>
        </ophBox.My.MySettings>
    </userSettings>
</configuration>